extends layout

block content
  h1 Ingresar
  form(method='POST', action='/admin/login')
    .form-group
      label Nombre de Usuario:
      input.form-control(name='username', type='text')
    .form-group
      label Contraseña:
      input.form-control(name='password', type='password')
    br
    input.btn.btn-primary(type='submit', value='Ingresar')
